{% extends "base.html" %}

{% block style %}
<style>
  * {
    margin: 0px;
    padding: 0px;
  }

  html {
    height: 100%;
  }

  body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: #dfe0da;
  }

  .head {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    background: linear-gradient(90deg, #dfe0da, #595a57);
  }

  .head img {
    border-radius: 50%;
    width: 50px;
    height: auto;
  }

  .middle {
    height: 80%;
    width: 100%;
    /*scrollbar-color: rebeccapurple green;*/
  }

  div.title {
    padding-left: 10%;
    padding-bottom: 20px;
  }

  div>div>* {
    padding-bottom: 3px;
  }

  .unit {
    flex-direction: row;
    display: flex;
    margin-bottom: 10px;
  }

  .unit.unitcart>div {
    width: auto;
  }

  .unit.unitgoods>div {
    width: auto;
  }

  .unit img {
    border-radius: 10%;
    width: auto;
    height: 80px;
    margin-right: 10px;
  }

  .unit.unitorder img {
    height: 100px;
  }

  .unit.unit.unitorder {
    padding-right: 20px;
  }

  .unit button {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .middle {
    flex-direction: row;
    display: flex;
  }

  .bottom {
    padding-top: 10px;
    text-align: center;
    font-size: 2rem;
  }

  .source {
    padding-left: 40%;
  }

  .selectionBar {
    flex-grow: 0;
    overflow: scroll;
    width: 50%;
    /*background-image: url(/res/sakura.jpg);
    background-size: cover;
    background-position: center;
    opacity: 60%;
    */
  }

  .cart {
    flex-grow: 1;
    /*
    background-image: url(/res/ai.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 70%;
    background-position: center;
    */
  }

  .cart__ {
    height: 90%;
    overflow: scroll;
  }

  .cartrest {
    font-size: 2rem;
    height: 10%;
  }

  .cartrest p {
    padding-top: 5px;
  }

  .cartrest button {
    margin-top: 5px;
    margin-right: 10px;
    float: right;
    font-size: 1.5rem;
    width: 15%;
    height: 70%;
  }

  .orders {
    flex-grow: 0;
    overflow: scroll;
  }

  .missing {
    display: none;
  }

  .info {
    font-size: 1.1rem;
    padding-left: 18%;
    margin-bottom: 20px;
  }

  .fixed {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .close {
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(-10px, 3px);
  }

  .close:hover {
    cursor: pointer;
  }

  .close::before,
  .close::after {
    content: '';
    display: inline-block;
    background-color: red;
    width: 1px;
    height: 20px;
  }

  .close::before {
    transform: rotate(45deg);
  }

  .close::after {
    transform: rotate(-45deg);
  }

  .inputs>h4 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  button#formbutton {
    margin-bottom: 10px;
    margin-left: 40%;
  }

  div.inputs {
    position: absolute;
    width: 20%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid;
    border-radius: 5px;
    background: linear-gradient(120deg, #dfe0da, #595a57);
  }

  p#username {
    padding-top: 15px;
    padding-left: 15px;
  }

  span#change {
    padding-right: 10px;
  }

  #setting span:hover {
    cursor: pointer;
  }

  #default {
    text-align: center;
    padding-top: 49%;
    font-size: 2rem;
  }

  #submit {
    float: right;
  }

  #setting {
    padding-top: 15px;
    text-align: right;
    flex-grow: 1;
  }
</style>
{% endblock %}

{% block script %}
<script>
  Array.max = function (array) {
    return Math.max.apply(Math, array);
  };

  var cartlist = new Map()  // str -> jquery obj
  var total_price = 0  // TODO

  $(function () {
    w = Math.max(...$('.unit.unitgoods > div').
      map(function () {
        return $(this).width()
      })) + 15
    $('.unit.unitgoods>div').css('width', w)
    //$('#default').css('width', w)

    //console.log($('.unit.unitgoods > div').width())
    $('button.purchase').click(function (e) {
      var f = $(this).prev().children()
      var goodsname = f.get(0).innerText
      var storename = f.get(1).innerText
      var price = f.get(2).innerText
      var priceint = parseInt(price)
      total_price += priceint
      $('#totalprice').html(total_price.toString())

      if (cartlist.has(storename + '-' + goodsname)) {
        var unitcart = cartlist.get(storename + '-' + goodsname)
        var countcart = unitcart.find('.count')
        var pricecart = unitcart.find('.price')
        var cnt = parseInt(countcart.html())
        var pri = parseInt(pricecart.html())
        countcart.html((cnt + 1).toString())
        pricecart.html((pri + priceint).toString())
      }
      else {
        var cart = $('.cart__')
        cart.append('<div class="unitcart unit">' +
          '<img src="/res/goods.jpg">' +
          '<div>' +
          '<p style="display: none;">' + goodsname + '</p>' +
          '<p style="display: none;">' + storename + '</p>' +
          '<p style="display: none;">' + price + '</p>' +

          '<p>' + goodsname + '</p>' +
          '<p>数量: <span class="count">1</span>  </p>' +
          '<p>总单价: <span class="price"> ' + price + '</span> </p>' +
          '</div>' +
          '<button class="cancel"> 取消 </button>' +
          '</div>')
        cartlist.set(storename + '-' + goodsname, cart.children('div:last-child'))
        $('#default').addClass('missing')

        $('.unit.unitcart>div').css('width', w)
      }
    })
    $('.cart__').click(function (e) {
      t = $(e.target)
      if (!t.hasClass('cancel')) {
        return
      }
      f = t.prev().children()
      var goodsname = f.get(0).innerText
      var storename = f.get(1).innerText
      var price = f.get(2).innerText
      var priceint = parseInt(price)
      total_price -= priceint
      $('#totalprice').html(total_price.toString())

      var unitcart = cartlist.get(storename + '-' + goodsname)
      var countcart = unitcart.find('.count')
      var pricecart = unitcart.find('.price')
      var cnt = parseInt(countcart.html())
      if (cnt > 1) {
        countcart.html((cnt - 1).toString())
        pricecart.html((parseInt(pricecart.html()) - priceint).toString())
      }
      else {
        cartlist.delete(storename + '-' + goodsname)
        unitcart.remove()
        if (cartlist.size == 0) {
          $('#default').removeClass('missing')
        }
      }
    })
    $('button#submit').click(function (e) {
      if (total_price == 0) {
        return
      }
      $('html').css('cursor', 'progress')
      const dataarr = []
      cartlist.forEach((value, key) => {
        var arr = key.split('-')
        var storename = arr[0]
        var goodsname = arr[1]
        var cnt = parseInt(value.find('.count').html())
        var price = parseInt(value.find('.price').html())
        dataarr.push({
          'storename': storename,
          'goodsname': goodsname,
          'number': cnt,
          'price': price,
        })
      })

      $.ajax({
        type: 'POST',
        contentType: 'application/json',
        url: '/info/orders',
        data: JSON.stringify(dataarr),
        success: function (data, status) {
          if (data == 'true' && status == 'success') {
            alert('订单提交成功')
            window.location.reload()
          } else if (status != 'success') {
            alert('与服务器连接发生错误')
          }
          else {
            alert(data)
          }
        },
        error: function (jqXHR, status, error) {
          alert('服务器错误, ' + status + ', ' + error)
        },
        complete: function () {
          $('html').css('cursor', 'default')
        }
      })
    })
    $('#setting #change').click(function (e) {
      $('.fixed').removeClass('missing')
    })
    $('.close').click(function (e) {
      $('.fixed').addClass('missing')
    })
    $('.inputs form').submit(function (e) {
      e.preventDefault()
      var l = $(this).find('input').filter(function () {
        return !$(this).val();
      })
      if (l.length == 4) {
        alert('请至少修改一项信息')
        return
      }
      $('html').css('cursor', 'progress')
      l.attr("disabled", "disabled")

      $.ajax({
        type: 'POST',
        url: '/info/changesetting',
        data: $(this).serialize(),
        success: function (data, status) {
          if (data == 'true' && status == 'success') {
            alert('信息修改成功')
          } else if (status != 'success') {
            alert('与服务器连接发生错误')
          }
          else {
            alert(data)
          }
        },
        error: function (jqXHR, status, error) {
          alert('服务器错误, ' + status + ', ' + error)
        },
        complete: function () {
          $('html').css('cursor', 'default')
        }
      })
      $(this).find("input").prop("disabled", false);
    })
  })

</script>
{% endblock %}


{% block content %}
<div class="selectionBar">
  <div class="title">
    菜品目录
  </div>
  <div class="goods">
    {% for value in g.goods %}
    <div class="unitgoods unit">
      <img class="goodspic" src="/res/goods.jpg">
      <div>
        <p style="display: none;">{{ value['goodsname'] }}</p>
        <p style="display: none;">{{ value['storename'] }}</p>
        <p style="display: none;">{{ value['price'] }}</p>

        <h4> {{ value['goodsname'] }} </h4>
        <p>{{ value['storename'] }}，月售{{value['sellcount'] }} </p>
        <h4>￥{{ value['price'] }}</h4>
      </div>
      <button class="purchase"> 加入购物车 </button>
    </div>
    {% endfor %}

  </div>

</div>

<div class="cart">
  <div class="cart__">
    <p id="default">购物车空空如也</p>
  </div>
  <div class="cartrest">
    <button id='submit'>结算</button>
    <p>总金额￥<span id="totalprice">0</span></p>
  </div>
</div>

<div class="orders">

  {% for value in g.orders %}
  <div class="unitorder unit">
    <!--
    <img class="goodspic" src="/res/goods.jpg">
    -->
    <div>
      <h4>订单编号: {{ value['id'] }} </h4>
      <p> 订单状态: {{ value['status'] }}</p>
      <p>{{ value['storename'] }} ，{{ value['goodsname'] }}</p>
      <p>数量 {{ value['number'] }} ，总价￥{{ value['price'] }} </p>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock %}

{% block extra %}

<div class="fixed missing">
  <div class="inputs">
    <p class="close"></p>
    <h4> 个人信息修改</h4>
    <form>
      <div class="info">
        <p>新登录用户名(留空则不修改)</p>
        <input type="text" name="name" pattern="[(a-zA-Z0-9\u4e00-\u9fa5_#]{3,20}$"
          placeholder="由中文, 英文, 数字, 下划线, 井号组成, 长度在3-20之间">
      </div>

      <div class="info">
        <p>新登录密码(留空则不修改)</p>
        <input type="password" name="password" pattern="[a-zA-Z0-9]{6,20}$" placeholder="由英文, 数字组成, 长度在6到20之间">
      </div>

      <div class="info">
        <p>新联系电话(留空则不修改)</p>
        <input type="tel" name="telephone" placeholder="11位电话号码" pattern="[0-9]{11}">
      </div>

      <div class="info">
        <p>新配送地址(留空则不修改)</p>
        <input type="text" name="address" placeholder="您希望的配送地址">
      </div>

      <button id="formbutton">
        修改完成
      </button>
    </form>
  </div>
</div>

{% endblock %}